---
import MainLayout from "../layouts/mainLayout.astro";
import { games } from "../data/games.js";
---

<MainLayout title="GamesQuiz">
  <header class="header">
    <h1 class="header__title">GamesQuiz</h1>
    <button class="header__menu-button">☰</button>
    <nav class="header__nav header__nav--hidden">
      <ul class="header__nav-list">
        <li class="header__nav-item"><a href="/" class="header__nav-link">Home</a></li>
        <li class="header__nav-item"><a href="/userRegister" class="header__nav-link">Register/Login</a></li>
        <li class="header__nav-item"><a href="#catalog" class="header__nav-link">Catálogo</a></li>
        <li class="header__nav-item"><a href="/contact" class="header__nav-link">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <main class="main">
    <section class="main__intro">
      <h2 class="main__intro-title">🎮 Bienvenido a GamesQuiz</h2>
      <p class="main__description">GamesQuiz es un desafio donde pondrás a prueba tus conocimientos sobre videojuegos y lograras desbloquear mas desafios a medida que avances. Ve por un buen cafe y comienza a demostrar tu valia gamer!</p>
    </section>

    <section class="main__rules">
      <h3 class="main__subtitle">📜 Reglas del juego</h3>
      <ul class="main__rules-list">
        <li class="main__rules-item">Responde correctamente las preguntas para ganar puntos.</li>
        <li class="main__rules-item">Necesitás alcanzar el puntaje mínimo para desbloquear cada juego.</li>
        <li class="main__rules-item">Si pierdes todas tus vidas, no te preocupes, puedes intentarlo otra vez. Advertencia: No esta permitido buscar en Google. Recuerda que Dios lo ve todo XD.</li>
      </ul>
    </section>

    <section class="main__catalog-section">
      <h3 class="main__subtitle">📦 Catálogo de Juegos</h3>
      <div class="main__catalog-div" id="catalog">
        {games.map(game => (
          <div class="catalog__card"  data-game-id={game.id} data-game-idalt={game.idalt}>
            <div class="catalog__image-container">
              <img src={game.image} alt={game.name} class="catalog__image"/>
              <a class="catalog__link" href={`/${game.id}`}>
                <button class="catalog__button btn">Jugar</button>
              </a>
            </div>
            <p class="catalog__score">Valor: {game.scoreToUnlock} créditos</p>
          </div>
        ))}
      </div>
    </section>
  </main>
  
  <footer>
    <nav class="footer__nav">
      <ul class="footer__nav-list">
        <li class="footer__nav-item"><a href="/" class="footer__nav-link">Home</a></li>
        <li class="footer__nav-item"><a href="#about" class="footer__nav-link">About</a></li>
        <li class="footer__nav-item"><a href="/contact" class="footer__nav-link">Contact</a></li>
      </ul>
    </nav>
    <p class="footer__copy">&copy; 2025 GamesQuiz</p>
  </footer>
    <script type="module">
      document.addEventListener("DOMContentLoaded", () => {
        const unlockedGames = JSON.parse(localStorage.getItem("unlockedGames") || "[]");

        document.querySelectorAll(".catalog__card").forEach(card => {
          const gameId = card.dataset.gameId;
          const gameIdAlt = card.dataset.gameIdalt;
          if (unlockedGames.includes(gameId)) {
            const anchor = card.querySelector("a");
            const button = card.querySelector("button");

            anchor.href = `/${gameIdAlt}`;
            button.textContent = "Detalles del juego";
          }
        });
      });
</script>
</MainLayout>

<style>
  /* SEMANTICS */
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header"
      "main"
      "footer";
    font-size: x-large;
  }

  /* CARDS */

  .main__catalog-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
  }

  .catalog__card {
    background: #111;
    border: 1px solid var(--primary);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    display: grid;
    grid-template-rows: auto auto;
    width: 250px;
    height: auto;
    overflow: hidden;
    justify-items: center;
    align-items: center;
    transform: scale(0.95);
  }

  .catalog__card:hover {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
  }

  .catalog__image {
    border-radius: var(--radius) var(--radius) 0 0;
    width: 100%;
    height: auto;
    margin: 0;
  }

  .catalog__button, .catalog__score {
    margin: 5px;
    padding: 5px;
  }

  .catalog__image-container {
    position: relative;
  }

  .catalog__link {
    position: absolute;
    border: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    left: 50%;
    bottom: -5%;
    transform: translateX(-50%);
    z-index: auto;
    width: auto;
  }

  .catalog__card:hover .catalog__link {
    transition: all 0.2s ease-in-out;
    opacity: 1;
    bottom: 5%;
  }

  /* MENU */
  .header__menu-button {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary);
  }

  .header__nav {
    position: absolute;
    top: 120px;
    left: 0;
    width: 97%;
    background: var(--bg-color);
    padding: 1rem;
    display: none;
    flex-direction: column;
    z-index: 10;
    overflow-x: hidden;
    margin: 0;
  }

  .header__nav-list {
    list-style: none;
    padding: 0;
  }

  .header__nav-item {
    padding: 10px;
  }
</style>

<script>
document.addEventListener("DOMContentLoaded", () => {
  const menu = document.querySelector(".header__nav") as HTMLElement;
  const toggleBtn = document.querySelector(".header__menu-button");

  toggleBtn.addEventListener("click", () => {
    if (menu.classList.contains("header__nav--hidden")) {
      menu.classList.remove("header__nav--hidden");
      menu.style.display = "block";
    } else {
      menu.classList.add("header__nav--hidden");
      menu.style.display = "none";
    }
  });
});
</script>
